/* seletor global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
#container{
    background-color: rgb(216, 216, 219);
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}
.card{
    box-sizing: border-bo;
    margin-left: 41%;
    width: 300px;
    height: 550px;
    background: linear-gradient(180deg, rgba(98, 0, 255, 1) 0%, rgba(140, 71, 237, 1) 44%, rgba(52, 105, 117, 1) 100%);
    box-shadow: 0px 10px 10px;
}
.card .sub-card{
    height: 300px;
    width: 300px;
    border-radius: 6%;
    background-color: whitesmoke;
    box-sizing: border-box;
    box-shadow: 0px 10px 10px 0px;
}
#n-produto{
    font-family: "Open Sans" ;
    font-size: 210%;
    text-align: left;
    padding: 15px 0px 0px 20px;
}
#filtro{
    font-family: "Open Sans" ;
    color:gray ;
    font-size: 15px;
    margin: 0px 0 0 23px;
    border: 01px solid gray;
    border-radius: 10%;
    position: absolute;
    padding: 3px;
}
#descritor{
    font-family: "Open Sans" ;
    font-size: 100% ;
    position: relative;
    left: 23px;
    top: 33px;
}
.sub-card #preco{
    font-weight: 700;
    font-family: "Open Sans" ;
    font-size: 180% ;
    position: relative;
    left: 20px;
    bottom: -120px;
}